apiVersion: v1
kind: Service
metadata:
  name: um-api-php
  # namespace: DEPLOY_ENV
  labels:
    app: um-api-php
spec:
  ports:
  - port: 9000
    protocol: TCP
  selector:
    app: um-api-php
---
apiVersion: v1
kind: Service
metadata:
  name: um-api-nginx
  # namespace: DEPLOY_ENV
  labels:
    app: um-api-nginx
spec:
  ports:
  - port: 80
    protocol: TCP
  selector:
    app: um-api-nginx
---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  # namespace: DEPLOY_ENV
  name: um-api-php
spec:
  template:
    metadata:
      labels:
        app: um-api-php
    spec:
      containers:
      - name: um-api-php
        image: 'asridjufri/um-api-php:DEPLOY_ENV'
        ports:
          - containerPort: 9000
        envFrom:
          - secretRef:
              name: um-api-env
        volumeMounts:
        - name: log-storage
          mountPath: /data/logs
     
---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  # namespace: DEPLOY_ENV
  name: um-api-nginx
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: um-api-nginx
    spec:
      containers:
      - name: um-api-nginx
        image: 'asrijduri/um-api-nginx:DEPLOY_ENV'
        ports:
        - containerPort: 80
