apiVersion: batch/v1
kind: Job
metadata:
  name: um-api-seed
  # namespace: DEPLOY_ENV
spec:
  template:
    metadata:
      name: um-api-seed
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: provider
                operator: In
                values:
                - aws
      containers:
      - name: um-api-php
        image: 'asridjufri/um-api-php:DEPLOY_ENV'
        imagePullPolicy: Always
        args: ["/bin/sh", "-c", "composer dump-autoload -d /var/www/html && php artisan db:seed --class=${DB_SEED_CLASS}"]
        ports:
          - containerPort: 9000
        envFrom:
          - secretRef:
              name: um-api-env
    